
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: center;
  background-color: aliceblue ;
  color: black;
}

main {
  padding: 10px 30px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  
  gap: 12px;
}
.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,2.85);
  flex-grow: 1;
  min-width: 150px;
}

.add-ingredient-form > button {
  border-radius: 6px;
  color: white;
  background-color: black;
  width: 150px;
}
